@import '_variables.scss';
@import './containers/Container.scss';
@import './components/Components.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}



