.cart {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 3rem;
    height: 3rem;
}

.cart img {
    width: 65%;
    height: 65%;
    color: #0000;
}

.cart:hover {
    border-radius: 50%;
    background-color: #e1cc92;
}