@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import '../variables';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    background-color: #FFF;
    line-height: 4rem;
    padding: 0 8rem;
    
}

.menu {
    display: flex;
    align-content: center;
    margin-right: 7rem;
}

.menu button {
    padding: 16px;
    border-radius: .625rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: $font;
}

.menu button:hover {
    background-color: #e1cc92;
    font-weight: 600;
}

.cart__icon {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 3rem;
    height: 3rem;
    & img {
        width: 45%;
        height: 45%;
        color: #0000;
    }
    &:hover {
        border-radius: 50%;
        background-color: #e1cc92;
    }
}


    
.brand {
    display: flex;
    align-items: center;
    
    &__name {
        text-transform: uppercase;
        font-family: $font;
        font-weight: 700;
    }
    
    &__logo {
        width: 4.6875rem;
        height: 4.6875rem;
        
        & img {
            width: 100%;
            height: 100%;
        }
    }
}

.card{
    font-family: $font;
    box-shadow: 0 0 10px 5px $clr-gray;
    border-radius: $radius;
    min-width: 28rem;
    display: flex;
    cursor: pointer;
    font-family: $font;
    font-weight: normal ;
    
    &__img{
        width: 14rem;
        height: 14rem;
        object-fit: cover;
        cursor: pointer;
    }
    
    &__body{
        margin: 1rem;
        flex-grow: 1;
    }
    &__title{
        line-height: 1.4rem;
        margin-bottom: .6rem; 
    }
    &__description{
        line-height: 1.2rem;
    }
    &__price{
        font-size: 1.4rem;
        margin:1rem 0;
    }
    
    &__counter {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 12rem;
        margin: 0.6rem 0;
        font-size: 1rem;
        
        &--button{
            width: 1.23rem;
            height: 1.23rem;
            border: none;
            background-color: transparent;
            font-size: 1rem;
            &:hover{
                background-color: #e1cc92;
            }
        } 
    }

    &__button{
        background-color: transparent;
        border: none;
        border-top: 1px solid $clr-gray;  
        font-size: 1rem;
        font-weight: bold;
        width: 100%;
        padding-top: 1rem;
        margin-top: 1rem;
        cursor: pointer;
        
        &:hover{
            color: $clr-primary-dark;
        }
    }
    &:hover {
        transform: translateY(-0.3rem);
        transition: transform .08s ease-in;
    }
}


.detailCard {
    box-shadow: 0 0 10px 5px $clr-gray;
    min-width: 28rem;
    display: flex;
    border-radius: $radius;
    flex-direction: column;
    font-family: $font;
    
    &__img {
        width: 100%;
        height: 26rem;
        object-fit: cover;
    }

    &__body {
        text-align: center;
        margin: 2rem;
        flex-grow: 1;
    }

    &__title{
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1.2rem;
    }

    &__description{
        font-size: 1.3rem;
        line-height: 2.4rem;
    }

    &__price{
        font-size: 2.5rem;
        margin: 2rem 0;
    }

    

    .card__counter{
        font-size: 2rem;
        width: 100%;
        margin: 1.2rem 0;

        &--button{
            width: 2.4rem;
            height: 2.4rem;
            font-size: 1.5rem;
        }
    }

    .card__button{
        font-size: 1.5em;
        padding-top: 2rem;
        margin-top: 2rem;
        
    }
}

.checkout {
    display: flex;
    flex-direction: column;
}



@media screen and (min-width:600px) {
    
    .card{
        flex-direction: column;
        text-align: center;
        min-width: 14rem;

        &__img {
            width: 100%;
            height: 12rem;
        }

        &__counter{
            width: 100%;
        }
    }

    .detailCard {
        font-family: $font;
        box-shadow: 0 0 10px 5px $clr-gray;
        max-width: 76rem;
        flex-direction: row;
        margin-left: 5rem;
        margin-top: 2rem;
        
        &__img {
            width: 28rem;
            height: 28rem;
            object-fit: cover;
        }
    
        &__body {
            text-align: left;
            margin: 2rem;
            flex-grow: 1;
        }
    
        &__title{
            font-size: 2rem;
            line-height: 2.8rem;
            margin-bottom: 1.2rem;
        }
    
        &__description{
            font-size: 1.25rem;
            line-height: 2.4rem;
        }
    
        &__price{
            font-size: 2rem;
            margin: 2rem 0;
        }
    
        &__finish {
            font-family: $font;
            font-weight: bold;
            width: 100%;
            text-align: center;
            margin-top: 3.8rem;
            padding-top: 3.8rem;
            cursor: pointer;
            border: none;
            background-color: transparent;
            font-size: 1.25rem;
            color: $clr-primary-dark;
        }

        .card__counter{
            font-size: 1.25rem;
            margin: 1.2rem 0;
    
            &--button{
                width: 2.4rem;
                height: 2.4rem;
                font-size: 1.25rem;
            }
        }
    
        .card__button{
            font-family: $font;
            font-size: 1.25em;
            padding-top: 2rem;
            margin-top: 2rem;
            
        }
    }

    .cart {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;
    
        &__img {
            width: 9rem;
            height: 9rem;
        }
    
        &__name{
            width: 25%;
        }
    
        &__price{
            font-size: 1.2rem;
            font-weight: bold;
        }

        &__priceTotal{
            text-align: right;
            margin-right: 230px;
        }
        
        &__button--remove{
            border: none;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 7rem;
            height: 3rem;
            border-radius: $radius;
    
            & img{
                margin-left: .4rem;
                width: 1.5rem;
                height: 1.5rem;
                
            }
            &:hover{
                color: white;
                background-color: red;
                font-weight: 600;
            }
            
        };
    }

    .checkout{
        width: 100%;
        &__form{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            & input{
                margin: .5rem;
                padding: 1rem;
                width: 50%;
                height: 3rem;
                border: thin solid $clr-gray;
                background-color: $clr-gray;
                border-radius: 0.3rem;
                box-shadow: 1px 0 5px 1px $clr-gray;
            }
        }
        &__button{
            margin-left: 40%;
            border: none;
            border-radius: $radius;
            cursor: pointer;
            background-color: $clr-primary-dark;
            color: white;
            width: 10rem;
            height: 3rem;
            font-size: 1.2rem;
            margin-top: 1rem;   
        }

        &__confirm{
            text-align: center;
            & p{
                font-size: 1.5rem;
            }
        }
    }
    
}